section.content
            .content-wrapper
                .content__container
                    p.content__date Last update on: 11/10/2020
                    .content__box
                        .content__information
                            .content__text
                                p With original CAT migration (NRC) files the EGR remains active.
                                    br
                                    | We can apply a modification on top of CAT migration file to turn the EGR off.
                                    br
                                    | With EGR off You will have to block it off (on both intake & exhaust side).
                                    br
                                    | If You are running machine in cold climate, leaving the EGR on will get the engine faster to operating temperature during the winter.
                            .content__text
                                p All You need is:
                                    br
                                    |- diagnostic adapter compatible with CAT ET - Electronic Technician(CAT COMM adapter)
                                    br
                                    |- laptop with internet connection
                            .content__text
                                p After we perform the tune:
                                    br
                                    |- all filters on exhaust will be bypassed and you will have to remove them
                                    br
                                    |- all regens & derates associated with emission components will be disabled
                .content__box-accordion
                    .content__accordion
                        p.content__title CATERPILLAR Machinery ECM delete tuning.
                            |  We can do all possible models,
                            a.content__link(href='#')  contact us
                            |  for more informations.
                            |  We can also preform EGR deletes using custom made files.
                        include accordion

