section.footer.row.footer
    .content-wrapper
        div(class='container-fluid footer__bottom')
            .container-sm
                nav(class='navbar navbar-expand-lg footer__navbar')
                    #navbarNav.container-fluid
                        ul(class='navbar-nav footer__navbar_container')
                            li(class='nav-item active  footer__list-item')
                                a(class='nav-link footer__link' href='#') Home
                            li(class='nav-item footer__list-item')
                                a(class='nav-link footer__link' href='#') How we do it?
                            li(class='nav-item footer__list-item')
                                a(class='nav-link footer__link' href='#') Disclaimer & warranty
                            li(class='nav-item footer__list-item')
                                a(class='nav-link footer__link' href='#') Contact us
                            li(class='nav-item footer__list-item')
                                a(class='nav-link footer__link' href='https://www.facebook.com/machinerytunes/') Like us on Facebook
                p(class='footer__copyright') ECM TuneUPs © 2008-2021
