.table-container
    table
        thead
            tr
                th Caterpillar
                th Type
                th Delete
        tbody
            tr
                td 735B
                td Articulated truck
                td DPF EGR
            tr
                td 740B
                td Articulated truck
                td DPF EGR
            tr
                td 745B
                td Articulated truck
                td DPF EGR
            tr
                td 730C
                td Articulated truck
                td DPF EGR DEF SCR
            tr
                td 730C
                td Articulated truck
                td DPF EGR DEF SCR
            tr
                td 740C
                td Articulated truck
                td DPF EGR DEF SCR
            tr
                td 745C
                td Articulated truck
                td DPF EGR DEF SCR
            tr
                td 12M2
                td Motor Grader
                td DPF EGR
            tr
                td 12M2
                td Motor Grader
                td DPF EGR
            tr
                td 140M2
                td Motor Grader
                td DPF EGR
            tr
                td 160M2
                td Track Type Tractor
                td DPF EGR
            tr
                td D6R
                td Track Type Tractor
                td DPF EGR
            tr
                td D6T
                td Track Type Tractor
                td DPF EGR
            tr
                td D6T
                td Track Type Tractor
                td DPF EGR DEF SCR
            tr
                td D7E
                td Track Type Tractor
                td DPF EGR
            tr
                td D7E
                td Track Type Tractor
                td DPF EGR DEF SCR
            tr
                td D8T
                td Track Type Tractor
                td DPF EGR
            tr
                td D8T
                td Track Type Tractor
                td DPF EGR DEF SCR
            tr
                td D9T
                td Track Type Tractor
                td DPF EGR
            tr
                td D9T
                td Track Type Tractor
                td DPF EGR DEF SCR
            tr
                td D10T
                td Track Type Tractor
                td DPF EGR
            tr
                td D10T
                td Track Type Tractor
                td DPF EGR DEF SCR
            tr
                td D11T
                td Track Type Tractor
                td DPF EGR DEF SCR
            tr
                td 621K
                td Wheel Tractor Scrape
                td DPF EGR DEF SCR
            tr
                td 623K
                td Wheel Tractor Scrape
                td DPF EGR DEF SCR
            tr
                td 627K
                td Wheel Tractor Scrape
                td DPF EGR DEF SCR
            tr
                td 631K
                td Wheel Tractor Scrape
                td DPF EGR DEF SCR
            tr
                td 336E
                td Excavator
                td DPF EGR
            tr
                td 336F
                td Excavator
                td DPF EGR DEF SCR
            tr
                td 349E
                td Excavator
                td DPF EGR
            tr
                td 349F
                td Excavator
                td DPF EGR DEF SCR
            tr
                td 352F
                td Excavator
                td DPF EGR DEF SCR
            tr
                td 374F
                td Excavator
                td DPF EGR DEF SCR
            tr
                td 390F
                td Excavator
                td DPF EGR DEF SCR
            tr
                td 966K
                td Wheel Loader
                td DPF EGR
            tr
                td 966M
                td Wheel Loader
                td DPF EGR DEF SCR
            tr
                td 972K
                td Wheel Loader
                td DPF EGR
            tr
                td 972M
                td Wheel Loader
                td DPF EGR DEF SCR
            tr
                td 980K
                td Wheel Loader
                td DPF EGR
            tr
                td 980M
                td Wheel Loader
                td DPF EGR DEF SCR
            tr
                td 982M
                td Wheel Loader
                td DPF EGR DEF SCR
            tr
                td PL72
                td Pipe layer
                td DPF EGR DEF SCR
            tr
                td PL83
                td Pipe layer
                td DPF EGR DEF SCR
            tr
                td PL83
                td Pipe layer
                td DPF EGR DEF SCR
            tr
                td PL87
                td Pipe layer
                td DPF EGR DEF SCR
            tr
                td 3630T
                td Tracked tractor Quadtrac
                td DPF EGR DEF SCR
            tr
                td C18 BDN
                td Industrial engine
                td DPF EGR
            tr
                td C15 LDN
                td Industrial engine
                td DPF EGR
            tr
                td C15 N5F1
                td Industrial engine
                td DPF EGR DEF SCR
            tr
                td C13 KWJ
                td Industrial engine
                td DPF EGR
            tr
                td C13 JR91
                td Industrial engine
                td DPF EGR DEF SCR
            tr
                td C13 N3F1
                td Industrial engine
                td DPF EGR DEF SCR
            tr
                td C9.3 C9N D9N
                td Industrial engine
                td DPF EG
            tr
                td C9.3 CS9
                td Industrial engine
                td DPF EGR DEF SCR


