.table-container
    table
        thead
            tr
                th Caterpillar
                th Type
                th Delete
        tbody
            tr
                td 312E
                td Excavator
                td DPF EGR
            tr
                td 314E
                td Excavator
                td DPF EGR
            tr
                td 316E
                td Excavator
                td DPF EGR
            tr
                td 318E
                td Excavator
                td DPF EGR
            tr
                td 320E
                td Excavator
                td DPF EGR
            tr
                td 323E
                td Excavator
                td DPF EGR
            tr
                td 323F
                td Excavator
                td DPF EGR DEF SCR
            tr
                td 324E
                td Excavator
                td DPF EGR
            tr
                td 326F
                td Excavator
                td DPF EGR DEF SCR
            tr
                td 329E
                td Excavator
                td DPF EGR
            tr
                td 416F
                td Backhoe Loader
                td DPF EGR
            tr
                td 420F
                td Backhoe Loader
                td DPF EGR
            tr
                td 428F
                td Backhoe Loader
                td DPF EGR
            tr
                td 430F
                td Backhoe Loader
                td DPF EGR
            tr
                td 432F
                td Backhoe Loader
                td DPF EGR
            tr
                td 434F
                td Backhoe Loader
                td DPF EGR
            tr
                td 444F
                td Backhoe Loader
                td DPF EGR
            tr
                td 416F2
                td Backhoe Loader
                td DPF EGR DEF SCR
            tr
                td 420F2
                td Backhoe Loader
                td DPF EGR DEF SCR
            tr
                td 430F2
                td Backhoe Loader
                td DPF EGR DEF SCR
            tr
                td 432F2
                td Backhoe Loader
                td DPF EGR
            tr
                td 444F2
                td Backhoe Loader
                td DPF EGR DEF SCR
            tr
                td 553C
                td Skidder
                td DPF EGR
            tr
                td 563C
                td Skidder
                td DPF EGR
            tr
                td 573C
                td Skidder
                td DPF EGR
            tr
                td 525D
                td Skidder
                td DPF EGR DEF SCR
            tr
                td 535D
                td Skidder
                td DPF EGR DEF SCR
            tr
                td 545D
                td Skidder
                td DPF EGR DEF SCR
            tr
                td 555D
                td Skidder
                td DPF EGR DEF SCR
            tr
                td 924K
                td Wheel Loader
                td DPF EGR
            tr
                td 926M
                td Wheel Loader
                td DPF EGR DEF SCR
            tr
                td 930K
                td Wheel Loader
                td DPF EGR
            tr
                td 938K
                td Wheel Loader
                td DPF EGR
            tr
                td 950K
                td Wheel Loader
                td DPF EGR
            tr
                td 950M
                td Wheel Loader
                td DPF EGR DEF SCR
            tr
                td 962K
                td Wheel Loader
                td DPF EGR
            tr
                td 963K
                td Track Type Loader
                td DPF EGR DEF SCR
            tr
                td D3K2
                td Track Type Tractor
                td DPF EGR
            tr
                td D4K2
                td Track Type Tractor
                td DPF EGR
            tr
                td D5K2
                td Track Type Tractor
                td DPF EGR
            tr
                td D6K2
                td Track Type Tractor
                td DPF EGR
            tr
                td D6N
                td Track Type Tractor
                td DPF EGR




